dotenv_if_exists

use flake

#auto-setup project
LOCAL_PATH=$(pwd)
export NIX_SHELL_DIR="$LOCAL_PATH/.nix-shell"
export EXERCISM_CONFIG_HOME="$NIX_SHELL_DIR/exercism"

test -d $NIX_SHELL_DIR && mkdir -p $NIX_SHELL_DIR

export LANG="en_US.UTF-8"

# elixir
export MIX_HOME="$NIX_SHELL_DIR/elixir/.mix"
export MIX_ARCHIVES="$MIX_HOME/archives"
export HEX_HOME="$NIX_SHELL_DIR/elixir/.hex"

if ! test -d $MIX_HOME; then
  mix local.hex --force
  mix local.rebar --force
fi

# python
export PYTHONPATH="$NIX_SHELL_DIR/python"

# exercism
if [[ ! -f $EXERCISM_CONFIG_HOME/user.json ]]; then
    if [[ -v EXERCISM_TOKEN ]]; then
        if [[ -x "$(command -v exercism)" ]]; then
            exercism configure --token=$EXERCISM_TOKEN -w $LOCAL_PATH
        fi
    else
        echo "No exercism token found. Please set the EXERCISM_TOKEN environment variable."
    fi
fi
