dotenv_if_exists

use flake

#auto-setup project
#elixir
LOCAL_PATH=$(cd $(dirname ${BASH_SOURCE[0]}); pwd -P)/
export NIX_SHELL_DIR=$LOCAL_PATH/elixir/.nix-shell
test -d $NIX_SHELL_DIR && mkdir -p $NIX_SHELL_DIR
export MIX_HOME="$NIX_SHELL_DIR/.mix"
export MIX_ARCHIVES="$MIX_HOME/archives"
export HEX_HOME="$NIX_SHELL_DIR/.hex"


if ! test -d $MIX_HOME; then
  yes | mix local.hex
  yes | mix local.rebar
fi

#python
export PYTHONPATH=$LOCAL_PATH/python

